<table>
  <tr>
    <td rowspan="3">
      <pre>{{ activity.account.avatar_html }}</pre>        
    </td>
    <td colspan="2">
      <strong>{{ activity.account.display_name }}</strong><br />
      <em><a href="/users/{{ activity.account.id }}">{{ activity.account.fqn }}</a></em>
    </td>
    <td>
      Ns ago
    </td>
  <tr>
    <td colspan="2">
      {{ activity.content }}
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <form method="POST" action="/notice/{{activity.id}}/reply">
        <label>
          Reply: <input name="reply" />
        </label>
        <input type="submit" value="Send" />
        <input type="hidden" value="{{csrf.token}}" />
      </form>
      <a href="#">[Repost]</a>
      <a href="#">[Favorite]</a>
    </td>
  </tr>
</table>
