<!doctype html>
<meta charset="utf-8" />
<title>{{ global.instance_name }} - snoot</title>

<center>
  <header>
    <h1>{{ global.instance_name }}</h1>
    <nav>
      <a href="/login">[Login]</a>&nbsp;
      <a href="/about">[About]</a>&nbsp;
      <a href="/timeline/local">[Local]</a>&nbsp;
      <a href="/timeline/federated">[Federated]</a>
    </nav>
  </header>
</center>
