<!doctype html>
<meta charset="utf-8" />
<title>login - {{ global.instance_name }} - snoot</title>
<form action="/login/post" method="POST">
  <fieldset>
    <legend>Login</legend>
    <p>
      <label for="username">Username or Email</label>
      <input name="username" />
    </p>
    <p>
      <label for="password">Password</label>
      <input name="password" type="password" />
    </p>
    <p>
      <label for="otp">One Time Password (optional)</label>
      <input name="otp" />
    </p>
    <p>
      <button>Login to {{ global.instance_name }}</button>
    </p>
    <input name="csrf" type="hidden" value="{{ csrf.token }}" />
  </fieldset>
</form>
