<!doctype html>
<meta charset="utf-8" />
<title>{{timeline_type}} timeline - {{ global.instance_name }} - snoot</title>
<style>
body {
  font-family: monospace;
}
</style>
<h1>Timeline</h1>

{% for activity in timeline %}
  {% include "activity.partial.html" %}
  <hr />
{% endfor %}
